.available_devices {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        margin-top: 2vw; ;
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(4, 1fr);

        &__item {
            text-align: center;

            h4 {
                margin: 0 20px 0 24px;
            }

            img {
                max-width: 100%;
            }
        }
    }
}